<h1 class='title'>Register User</h1>

<% if @pre_registration.errors.any? %>
  <ul>
    <% @pre_registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>