<ul>
  <% @drinks.each do |drink| %>
    <li>
      <strong><%= drink.name %></strong>    
      <ul>
        <% if drink.drink_options.any? %>
          <% drink.drink_options.each do |option| %>              
            <li><%= option.description %> - <%= number_to_currency(option.price) %></li>
          <% end %>
        <% else %>
            <p><%= "#{t('messages.no_option_registered')} #{drink.name}" %></p>
        <% end %> 
      </ul>
    </li>
  <% end %>
</ul>