<h1 class='title'><%= "#{t('actions.edit')} #{@menu.name}" %></h1>

<% if @menu.errors.any? %>
  <ul>
    <% @menu.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>