<h1 class='title'><%= @menu.name %></h1>

<% if @dishes.any? %>
  <%= render 'dishes' %>
<% end %>

<% if @drinks.any? %>
  <%= render 'drinks' %>
<% end %>

<% unless @dishes.any? || @drinks.any? %>
  <p>There are no items on the menu</p>
<% end %>

<div><%= link_to 'Edit', edit_menu_path(@menu.id) %></div>

