<h2>Results found: <%= @dishes.count %></h2>

<% if @dishes.present? %>
  <ul>
    <% @dishes.each do |dish| %>
      <li><%= dish.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Dish not found</p>
<% end %>

<h2>Results found: <%= @drinks.count %></h2>

<% if @drinks.present? %>
  <ul>
    <% @drinks.each do |drink| %>''
      <li><%= drink.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Drink not found</p>
<% end %>

