<h1 class='title'><%= t('views.new_drink_option') %></h1>

<% if @drink_option.errors.any? %>
  <ul>
    <% @drink_option.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>