<h1 class='title'>Menus</h1>

<hr>

<% if @menus.any? %>
  <ul>
    <% @menus.each do |menu| %>
      <li><%= link_to menu.name, menu_path(menu.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are not registered menus</p>
<% end %>


