<h1 class='title'>Menus</h1>

<div><%= link_to 'New Menu', new_menu_path %></div>

<% if @menus.any? %>
  <ul>
    <% @menus.each do |menu| %>
      <li><%= link_to menu.name, menu_path(menu.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are not registered menus</p>
<% end %>

<div><%= link_to 'New Order', new_order_path %></div>


