<div class='link'><%= link_to 'My Establishment', establishment_path(@establishment.id) %></div>

<div class='link'><%= link_to 'Operating Hours', establishment_operating_hours_path(@establishment.id) %></div>

<div class='link'><%= link_to 'Dishes', establishment_dishes_path(@establishment.id) %></div>