<h1 class='title'>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Customer Name</th>
      <th>Total Value</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.code, order_path(order.id) %></td>
        <td><%= order.customer_name %></td>
        <td><%= number_to_currency(order.total_value) %></td>
        <td><%= order.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>