<h1>Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li><%= order.code %></li>
    <li><%= order.customer_name %></li>
    <li><%= number_to_currency(order.total_value) %></li> 
    <li><%= order.status.humanize %></li>
  <% end %>
</ul>