<h1 class='title'><%= t('views.new_order') %> </h1>

<% if @order.errors.any? %>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>