<%= form_with model: @tag, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div><%= f.submit class: 'submit-button' %></div>
<% end %>