<h1 class='title'><%= t('views.new_tag') %></h1>

<% if @tag.errors.any? %>
  <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>