<h1 class='title'>Price History</h1>

<% if @drink_price_histories.any? %>
  <% grouped_histories = @drink_price_histories.group_by(&:item_id) %>

  <% grouped_histories.each do |item_id, histories| %>

    <% drink_option = @drink_options[item_id] %>
    <hr>
    <h3><%= drink_option.description %></h3>
    
    <% histories.each do |history| %>
      <p>R$<%= history.price %></p>

      De <%= history.start_date.strftime("%d/%m/%Y %H:%M") %><br>
      Até <%= history.end_date.strftime("%d/%m/%Y %H:%M") %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p>There are no prices in the history</p>
<% end %>