@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 30px;
  margin: 20px 0;
}

.register {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 20px;
}

hr {  
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.200);
  margin: 20px 0;
}

/* navbar */

.navbar {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100vh;
  width: 200px;
  margin: 0 10px;
  overflow: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* tag-filter */

.tag-filter {
  margin: 20px 0;
}

/* dishes-index */

.dish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish-list li {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin: 30px;
  overflow: auto;
}

/* dish-info */

.dish-container-info {
  display: flex;
}

.dish-info {
  width: 200px;
  margin-left: 20px;
}

.dish-attr {
  margin: 10px 0;
}

/* table */

table {  
  width: 100%;
  border-collapse: collapse;
}
  
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

td {
  text-align: center;
}

.history-price-table {
  margin-bottom: 20px;
}



section {
  margin-left: 20px;
}

.container {
  margin-top: 30px;
}

li {
  margin: 10px;
}

.link {
  margin: 20px;
}

.img {
  width: 300px;
}