@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.navbar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 80px;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav-item:first-child {
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 10px;
}

h2 {
  margin: 20px;
}

section {
  margin-left: 20px;
}

.container {
  margin-top: 30px;
}

li {
  margin: 10px;
}

.link {
  margin: 20px;
}

.img {
  width: 300px;
}