<h1 class='title'>Please register your establishment</h1>

<% if @establishment.errors.any? %>
  <ul>
    <% @establishment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>